/* Font insert */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300&display=swap") * {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
span,
ul,
li {
  margin: 0;
  padding: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
html {
  height: 100%;
}

/* css variables */
:root {
  --main-color: #deb992;
  --cube-size: 120px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(navy 0, black 100%);
  background-repeat: repeat;
  color: white;
  font: 16px "Trebuchet MS";
  margin: 0;
}

a {
  text-decoration: none;
}

/* Canvas styling */
.canvas {
  margin: auto;
  position: relative;
  max-width: 250px;
  height: auto;
  width: 100%;
  border-radius: 10%;
  box-shadow: inset 3px 3px 20px white;
}

/* border styling */
.border {
  max-width: 90%;
  height: 1px;
  background-color: var(--main-color);
  display: block;
  margin: 0 auto;
}

/* Top Nav */
nav {
  background: #133557 opacity(0.8);
  width: 100%;
}

#fps {
  position: fixed;
  top: 50%;
  left: 40px;
  font-size: 30px;
  color: white;
  background: transparent;
  z-index: 2;
  padding: 45px 10px;
  border-radius: 50%;
  box-shadow: #f30a0a 0px 0px 10px;
  opacity: 0;
  transition: all 0.8s ease;
}

.main_container {
  position: relative;
}
.main__nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-around;
}
.item {
  list-style-type: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  padding: 20px;
  color: #1ba098;
  transition: all 0.5s ease-in-out;
}
.item:hover {
  color: rgb(22, 122, 116);
}
.svg {
  width: 30%;
  height: auto;
}
.logo {
  list-style-type: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  padding: 20px;
  color: #1ba098;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
/* Main heading + subheading */
.head {
  max-width: 1100px;
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}
.main__head {
  font-family: "Raleway", sans-serif;
  font-size: 10vw;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--main-color);
  z-index: 1;
}
.sub__head {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--main-color);
}

/* Circles */

.circle__container {
  max-width: 900px;
  margin: 0 auto;
}

.circle {
  position: fixed;
  border: solid 1px var(--main-color);
  opacity: 0;
  z-index: -1;
}
.circ__1 {
  top: 340px;
  width: 440px;
  height: 440px;
  border-radius: 98%;
}
.circ__2 {
  top: 350px;
  margin-left: -180px;
  width: 627px;
  height: 627px;
  border-radius: 98%;
  -webkit-transform-origin: 40% 50% 0;
  transform-origin: 40% 50% 0;
}
.circ__3 {
  top: 400px;
  margin-left: 280px;
  width: 400px;
  height: 400px;
  border-radius: 98%;
  -webkit-transform-origin: 60% 20% 0;
  transform-origin: 60% 20% 0;
}
.circ__4 {
  top: 635px;
  margin-left: 280px;
  width: 400px;
  height: 400px;
  border-radius: 98%;
  -webkit-transform-origin: 80% 10% 0;
  transform-origin: 80% 10% 0;
}
.circ__5 {
  top: 350px;
  margin-left: 380px;
  width: 400px;
  height: 400px;
  border-radius: 98%;
  -webkit-transform-origin: 35% 75% 0;
  transform-origin: 35% 75% 0;
}

/* Boxes styling */
.box__container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  display: none;
  margin-top: 10em;
}

.row1,
.row2 {
  display: flex;
  margin-bottom: 40px;
  padding: 0 1rem;
  margin: auto;
}
.cards {
  max-width: 600px;
  width: 100%;
  flex: 1 auto;
  border: solid 1px white;
  margin-right: 20px;
  height: 300px;
}

/* Stagger */

.stagger__container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.stagger__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.stagger {
  width: 40px;
  height: 40px;
  background: purple;
  margin: 10px;
  list-style-type: none;
  opacity: 0;
}
.stag__btn {
  opacity: 0;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: 20px;
  font-weight: 100;
  outline: none;
  background: rgb(193, 1, 206);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.7s ease;
}

.stag__btn:hover {
  box-shadow: inset 15px 5px 20px orange;
}
.stag__btn:active {
  transform: scale(0.6);
  transition: all 0.2s;
}
.stag_btn_contain {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

/* BUTTONS */
.demo {
  font-weight: 700;
  overflow: visible;
  cursor: pointer;
}
.buttons {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.buttons__inner {
  display: flex;
  flex-wrap: wrap;
}

/* mobile */
@media only screen and (max-width: 767px) {
  .main__nav {
    flex-direction: column;
    height: 100%;
  }
  .main__head {
    font-size: 10vw;
  }
  .row1,
  .row2 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cards {
    margin-bottom: 20px;
  }
}
